.main{
    padding: 10px 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    border-radius: 18px;
    width: fit-content;
    @media (max-width: 768px){
        font-size: 11px;
    }
}
