
.swiper{
    background-color: aliceblue ;
    display: flex;
    justify-content:space-between;
    width: 100%;
    align-items:center;
    justify-content: space-between  ;
    padding-bottom: 30px;
}
.swiperItem{
    display: flex;
    align-items:center;
    justify-content: center;
}