.main{
    position: relative;
}
.start{
    width: 100%;
    height: 430px;
    border-radius: 0px 0px 40px 40px;
    background-image:  url('../../../../public/assets/images/back.png'), linear-gradient(360deg, #7E6AF3 15.95%, #6540CD 63.1%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.h1{
    font-weight: 700;
    font-size: 30px;
    color: #fff;
    text-shadow: 0px 2px 5px rgba(0, 14, 142, 0.3);
    margin-bottom: 50px;

    span{
        color: #FFD54F;
    }
}
