.main{
    max-width: 406px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: (0px 20px 40px rgba(135, 124, 202, 0.15));
}
.imgCard{
    border-radius: 10px;
    width: 100%;
}
.text{
    padding: 30px 20px 23px;
}
.geyDate{
    background: #F8F8F8;
    color: #8291A3;
}
.more{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.title{
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    margin-bottom: 15px;
}
.description{
    font-weight: 400;
    font-size: 14px;
    color: #686868;
    line-height: 17px;
    border-bottom: 2px solid #F8F8F8;
    padding-bottom: 25px;
}
.button{
    padding: 10px 15px;
    color: #664EF9;
    background: rgba(102, 78, 249, 0.1);
    font-size: 14px;

    &:hover{
        background: rgba(102, 78, 249, 0.1);
    }
}
