@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
/*  COLORS */
/* $color-grey: #7A7F86; */
/* $color-: #4E64F9; */
/* $color-: #FFD54F; */
/* $color-black: #1E2123; */
/* $color-: #E4E2E2; */
/* $color-greyLight: #E4E2E2; */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}
ul, li{
  list-style: none;
  display: inline-block;
}
a{
  text-decoration: none;
  color: inherit;
}
body{
  height: 100%;
  color: #1E2123;
}
.container{
  max-width: 1280px;
  margin: 0 auto;
}
#root{
  overflow: hidden;
}

