:root {
    --c-perple: #664EF9;
    --c-yellow: #FFD54F;
    --c-yellowHover: #FEC100;
    --c-grey: #8291A3;
    --c-LIGHTGREY: #F8F8F8;
    --c-black: #1E2123;
    --c-darkgrey: #686868;
    --c-perple: #664EF9;
    --c-lightgrey: #E5E5E5;
    
  }
  